<mat-grid-list cols="3" rowHeight = "17em" gutterSize="5em" class="desk-up" id="container">

    <mat-grid-tile class="desk-component"> 
        <div id="modele">
            <img id= "img" src='/assets/logorofim.jpg'>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="desk-component">
        <div id="grid">
            <div *ngFor= "let p of pieces"  (click)="mouvement(p.id)">
                <!-- [id]="p.id" inutile ficanelement-->
    
                <app-piece [piece]="p"></app-piece>
                
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="desk-component">
        <div id="buttons">
            <!--ATTENTION: le CSS pourrait disparaitre suite à l'ajout d'un selecteur ng-component-->
                    <!-- <span><button *ngIf="victoire==false" id="count">Nombre de clics : {{transfertDataService.counter}}</button></span>
                    <br><br> -->
            <div><button *ngIf="victoire==false" (click)="melange()">RESTART</button></div>
            <div><button *ngIf="victoire==false" (click)="tricher()">TRICHER</button></div>
            <div id="message">
                <h2>Message :</h2>
                <p class="message">{{store.message}}</p>
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list> 






<!-- A mettre dans la barre de navigation ensuite (remplacer boutons actuels)-->
<!-- <div id="buttons">
    <ng-component *ngIf="victoire==false">  
        <span><button id="count">Nombre de clics : {{counter}}</button></span>
        <br><br>
        <span><button (click)="melange()">RESTART</button></span>       
        <span><button (click)="tricher()">TRICHER</button></span>
    </ng-component>
    <ng-component *ngIf="victoire==true">
        <span><button routerLink="/end">PAR ICI CHAMPION</button></span>
    </ng-component>
</div> -->
